:root {
  color-scheme: light dark;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*, *::before, *::after {
  -webkit-tap-highlight-color: transparent;
}

body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  min-height: 100vh;
}

/* Remove ugly default browser focus outlines and black borders on selecting buttons */
button,
[role="button"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
  outline: none;
  font-family: inherit;
  user-select: none;
  -webkit-user-select: none;
}

button:focus,
button:focus-visible,
button:active {
  outline: none !important;
}

a:focus,
a:focus-visible,
a:active {
  outline: none !important;
}

